<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test App</title>
</head>
<body>
    <h1>Welcome to Test App!</h1>
    <br>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <br>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Balance</th>
        </tr>
        {% for user in users_info %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button onclick="window.location.href = 'user_management';">Управление пользователями</button>
    <br>
    <br>
    <button onclick="window.location.href = 'update_balance';">Обновление баланса</button>

</body>
</html>