<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>User Managment</h1>
    <br>
    <!-- Кнопки управления пользователями -->
    <form action="/add_user" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="number" name="balance" placeholder="Balance" required>
        <input type="submit" value="Add User">
    </form>
    <br>
    <form action="/update_user" method="post">
        <input type="number" name="user_id" placeholder="User ID" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="submit" value="Update User">
    </form>
    <br>
    <form action="/delete_user" method="post">
        <input type="number" name="user_id" placeholder="User ID" required>
        <input type="submit" value="Delete User">
    </form>
    <br>
        <button onclick="window.location.href = '/';">На главную</button>
    <br>
    <script>
        // добавление пользователя
        $('#addUserForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/add_user',
                data: $(this).serialize(),
                success: function(response) {
                    location.reload();
                }
            });
        });
        $('#UpdateUserForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/update_user',
                data: $(this).serialize(),
                success: function(response) {
                    location.reload();
                }
            });
        });
        // удаление пользователя
        $('#deleteUserForm').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/delete_user',
                data: $(this).serialize(),
                success: function(response) {
                    location.reload();
                }
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>